Name:Manoj Alladawar               ROll NO:19141256

IR exp-1 Write a program to create an inverted index for a given text file

In [7]:
# this will open the file
file = open('/content/drive/MyDrive/GCEK/text.txt' ,encoding='utf8')
read = file.read()
file.seek(0)
read

# to obtain the
# number of lines
# in file
line = 1
for word in read:
	if word == '\n':
		line += 1
print("Number of lines in file is: ", line)

# create a list to
# store each line as
# an element of list
array = []
for i in range(line):
	array.append(file.readline())

array

Number of lines in file is:  5

['Hii My name is Manoj Alladawar\n',
 'I am final Year student from GCEK\n',
 'I am selected in TCS DIGITAL for System Engineer role.\n',
 'I am also Selected in Redhat For Trainee Role.\n',
 '']

In [8]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [9]:
punc = '''!()-[]{};:'"\, <>./?@#$%^&*_~'''
for ele in read:
	if ele in punc:
		read = read.replace(ele, " ")
		
read

# to maintain uniformity
read=read.lower()					
read

'hii my name is manoj alladawar\ni am final year student from gcek\ni am selected in tcs digital for system engineer role \ni am also selected in redhat for trainee role \n'

In [10]:
import nltk

In [11]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [12]:
from nltk.tokenize import word_tokenize
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

for i in range(1):
	# this will convert
	# the word into tokens
	text_tokens = word_tokenize(read)

tokens_without_sw = [
	word for word in text_tokens if not word in stopwords.words()]

print(tokens_without_sw)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

['hii', 'manoj', 'alladawar', 'final', 'year', 'student', 'gcek', 'selected', 'tcs', 'digital', 'system', 'engineer', 'role', 'selected', 'redhat', 'trainee', 'role']

In [13]:
dict = {}

for i in range(line):
	check = array[i].lower()
	for item in tokens_without_sw:

		if item in check:
			if item not in dict:
				dict[item] = []

			if item in dict:
				dict[item].append(i+1)

dict

{'hii': [1],
 'manoj': [1],
 'alladawar': [1],
 'final': [2],
 'year': [2],
 'student': [2],
 'gcek': [2],
 'selected': [3, 3, 4, 4],
 'tcs': [3],
 'digital': [3],
 'system': [3],
 'engineer': [3],
 'role': [3, 3, 4, 4],
 'redhat': [4],
 'trainee': [4]}